@media (min-width: 575px) {
    .atributes-max-width {
        max-width: 600px;
    }

    .no-gutters-edit {
        margin-right: 0;
        margin-left: 0;
        padding: 0;
    }

}

@media (min-width: 960px) {
    body {
        margin: 20px;
    }
}

@media (max-width: 960px) {
    body {
        padding-bottom: 60px;
        margin: 0px
    }



}

html,
body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


.table-responsive {
    max-height: 100px;
}


/* Used in testing */
.no-gutters-edit {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

/* On hover clickable div */
.clickable_div:hover {
    background-color: var(--bs-secondary)
}

.inventory-equip-table tbody[data-uuid] {
    display: table-row-group;
    width: 100%;
}

.inventory-equip-table td.item-name {
    white-space: normal;
    /* povolí zalomení textu */
    word-break: normal;
    /* zachová slova pohromadě */
    overflow-wrap: anywhere;
    /* zalomí jen při potřebě */
    vertical-align: middle;
}

.inventory-equip-table {
    table-layout: fixed;
    /* zachová rovnoměrné chování tabulky */
    width: 100%;
}

.inventory-equip-table td.text-end {
    white-space: nowrap;
}

.inventory-equip-table td {
    vertical-align: middle;
}



/* aby tabulka vypadala pořád pěkně */
.sheet-features-scroll table {
    margin-bottom: 0;
    /* odstraní extra mezery pod tabulkou */
}

/* Scrollovací wrapper uvnitř každého tab-pane */
.tab-scroll-wrapper {
    height: calc(100vh - 400px); /*400px je prostě tip výšky navbaru a jiných elementů*/
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem;
    box-sizing: border-box;
}
/*tablety*/
@media (max-width: 960px) {
    .tab-scroll-wrapper {
        height: calc(100dvh - 350px); /*350px je prostě tip výšky navbaru a jiných elementů, dvh je dynamick viewport height, specifické pro mobily*/
    }
}
/*extra malé displeje*/
@media (max-width: 767px) {
    .tab-scroll-wrapper {
        height: calc(100dvh - 425px); /*425px je prostě tip výšky navbaru a jiných elementů, dvh je dynamick viewport height, specifické pro mobily*/
    }
}
